.users-list-card-edit {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    right: 0px;
    padding: 8px;
    width: 20px;
    height: 20px;
    transition: all 0.2s;
}

.users-list-card-edit-visible {
    visibility: visible;
    opacity: 1;
    width: 24px;
    height: 24px;
}