@import '../../sass/variables';

.userImage {
  width: 168px;
  height: 168px;
  border-radius: 50%;
}

.card{
  background: #ffffff;
  transition: box-shadow .2s ease-in-out;
  padding: 44px;
  border-radius: 8px;
  min-width: 19vw;

  &:hover {
    box-shadow: $box-shadow
  }

  h2 {
    max-width: 220px;
  }

  p {
    max-width: 200px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
  }
}

.name {
  margin-top: 28px;
}