@value theme: "../theme.css";

@value baseBackground from theme;
@value shadowColor from theme;
@value borderRadius from theme;

.wrapper {
  margin: 25px 0;
  text-align: center;
}

.button {
  min-width: 160px;
  height: 50px;
  background: baseBackground;
  border: 2px solid shadowColor;
  box-sizing: border-box;
  border-radius: borderRadius;
  font-style: normal;
  font-weight: 600;
  font-size: 19px;
  line-height: 2.5;
  text-align: center;
  margin: auto;
  text-transform: uppercase;
  cursor: pointer;
}

.button:hover {
  border-color: rgba(0, 0, 0, 0.4);
}

.button:focus {
  outline: none;
}
