// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.avatar {
  width: 168px;
  height: 168px;
  border-radius: 100%;
}
