@import "src/styles/variables";

.button {
  width: 280px;
  height: 90px;
  background: $color-white;
  color: $color-black;
  border: 4px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: $border-radius;

  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;

  text-transform: capitalize;
  cursor: pointer;
  &:hover,
  &:focus {
    border: 4px solid rgba(0, 0, 0, 0.4);
  }

  &:disabled {
    border: 4px solid rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.5);
  }
}
