.button {
  outline: none;

  width: 280px;
  height: 90px;

  border: 4px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 8px;

  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;

  color: #000000;
}

.button-primary {
  background: #ffffff;
}

.button:hover {
  border: 4px solid rgba(0, 0, 0, 0.4);
}

.button:focus {
  border: 4px solid rgba(0, 0, 0, 0.5);
}

.button:disabled {
  border: 4px solid rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.5);
}
