.header {
  //border-width: 1px;
  //border-style: solid;
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 740px;
  min-width: 70vw;
  justify-content: space-between;
  margin: 30px 0 30px 0;

  input {
    min-width: 400px;
  }
}

.footer{
  margin-top: auto;
  margin-bottom: auto;

  & > *:first-child{
    margin-right: 30px;
  }
}