.input {
  flex: 1;
  font-family: "Source Sans Pro Light";
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: left;
  height: 48px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 100%;
  padding: 1rem;
}
