.date-label {
  color: red;
  font-weight: semibold;
}

.edit-information {
  visibility: hidden;
}

#card:hover .edit-information {
  visibility: visible;
}

.edit-icon {
  position: absolute;
  right: 0;
  top: 15px;
}
