<div class="grid">
  <div class="col-desk-8">
    <h1 class="mb-19">User list</h1>
  </div>

  <div class="col-desk-4">
    <input type="text" placeholder="Search..." [formControl]="nameSearchControl">
  </div>
</div>

<div *ngIf="!isLoadingData; else loadingActive">
  <div class="grid">
    <div class="col-desk-4 col-tab-6 col-mob-12 pb-16" *ngFor="let user of users">
      <div class="card p-10" (click)="openEditModal(user)">
        <div class="center mb-7">
          <img class="avatar" src="https://source.unsplash.com/random/168x168">
        </div>

        <div class="grid mb-2">
          <div class=" col-desk-6 pb-0">
            <h2 class="ellipsis">{{user.name}}</h2>
          </div>

          <div class="col-desk-6 pb-0 align-self-center">
            <p class="right">
              created <span class="date-label">{{ user.createdAt | date: 'dd MMM yyyy' }}</span>
            </p>
          </div>

        </div>

        <p class="ellipsis">{{ user.description}}</p>
      </div>
    </div>
  </div>
</div>

<div class="center" *ngIf="users?.length > 0">
  <ng-template [ngIf]="!isLoadingButton" [ngIfElse]="loadingMoreData">
    <button class="btn uppercase" (click)="loadMore()" [class.disabled]="loadMoreDisabled"
      [disabled]="loadMoreDisabled" *ngIf="hideLoadingMoreButton">Load more</button>
  </ng-template>

  <ng-template #loadingMoreData>
    <img src="../../../../assets/utils/loader.svg" alt="Loader">
  </ng-template>
</div>

<app-dialog [(visible)]="showDialog">
  <div class="p-16">
    <h1 class="mb-16">Edit user</h1>

    <form class="grid" [formGroup]="userForm">
      <div class="col-desk-6">
        <ng-template [ngIf]="geoLocation" [ngIfElse]="loadingMap">
          <agm-map [latitude]="geoLocation.lat" [zoom]="15" [longitude]="geoLocation.long">
            <agm-marker [latitude]="geoLocation.lat" [longitude]="geoLocation.long"></agm-marker>
          </agm-map>
        </ng-template>

        <ng-template #loadingMap>
          <div class="center">
            <img src="../../../../assets/utils/loader.svg" alt="Loader">
          </div>
        </ng-template>
      </div>

      <div class="col-desk-6">
        <div class="mb-9">
          <span class="input-label mb-2">Name</span>
          <input class="w-12" type="text" placeholder="Name..." formControlName="name">
        </div>

        <div class="mb-9">
          <span class="input-label mb-2">Address</span>
          <input class="w-12" type="text" placeholder="Address..." formControlName="address">
        </div>

        <div class="mb-9">
          <span class="input-label mb-2">Description</span>
          <input class="w-12" type="text" placeholder="Description..." formControlName="description">
        </div>
      </div>
    </form>

    <div class="right">
      <button type="submit" (click)="showDialog = !showDialog" class="btn mr-12 uppercase"
        [class.disabled]="userForm.invalid" [disabled]="userForm.invalid" (click)="updateUser()">Save</button>
      <button type="button" (click)="showDialog = !showDialog" class="btn btn-secondary uppercase">Close</button>
    </div>
  </div>
</app-dialog>

<ng-template #loadingActive>
  <div class="center">
    <img src="../../../../assets/utils/loader.svg" alt="Loader">
  </div>
</ng-template>
