.modalTrigger {
  cursor: pointer;
}

.modal {
  z-index: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  background: rgba(0, 0, 0, 0.3);

  animation-name: backdropShowUp;
  animation-duration: .4s;
  animation-timing-function: ease-in-out;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &.fading {
    animation-name: backdropHide;
    animation-duration: .4s;
    animation-timing-function: ease-in-out;
  }

  .modalWindow {
    z-index: 11;
    position: fixed;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;

    background: #F8F8F8;
    border-radius: 8px;
    padding: 22px;

    animation-name: showUp;
    animation-duration: .4s;
    animation-timing-function: ease-in-out;

    &.fading {
      animation-name: hide;
      animation-duration: .4s;
      animation-timing-function: ease-in-out;
    }
  }
}

@keyframes backdropShowUp {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes backdropHide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes showUp {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes hide {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(100px);
    opacity: 0;
  }
}