body {
  margin: 0;
  font-family: "Source Sans Pro Light", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
  background: #f8f8f8;
  min-height: 100vh;
}

h1 {
  font-family: "Source Sans Pro Light";
  font-size: 3rem;
  margin: 0;
}

h2 {
  font-family: "Source Sans Pro Semibold";
  font-size: 1.3125rem;
  margin: 0;
}

p {
  font-family: "Source Sans Pro Light";
  font-size: 1rem;
  margin: 0;
}

.card {
  background: #ffffff;
  border-radius: 0.5rem;
  padding: 2rem;
}
.card:hover {
  box-shadow: 0px 0.25rem 0.625rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.avatar {
  border-radius: 100%;
  width: 10.5rem;
  height: 10.5rem;
  background-size: cover;
  background-position: center center;
}

button {
  background: #ffffff;
  border: 0.25rem solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 0.5rem;
  outline: none;
  position: relative;
  width: 17.5rem;
  height: 5.625rem;
  cursor: pointer;
}

button > span {
  font-family: "Source Sans Pro";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  font-weight: 600;
}

button:hover {
  border-color: rgba(0, 0, 0, 0.4);
}

button:focus {
  border-color: rgba(0, 0, 0, 0.5);
}

button:disabled {
  border-color: rgba(0, 0, 0, 0.1);
}

button:disabled > span {
  color: rgba(0, 0, 0, 0.5);
}

button.secondary {
  background: transparent;
}

input {
  font-family: "Source Sans Pro";
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 1.875rem;
  background: #ffffff;
  border: 0.0625rem solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  padding: 1rem;
}

label {
  font-family: "Source Sans Pro";
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.4375rem;
}

.page-container {
  width: 74.18994413%;
  max-width: 83rem;
  margin: auto;
}

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);

  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #f8f8f8;
    border-radius: 0.5rem;
    padding: 4rem;
    width: calc(74.18994413% - 8rem);
  }
}

.actions {
  text-align: center;
}
