<div class="p-16">
  <h1 class="mb-16">Edit user</h1>

  <form class="grid" [formGroup]="usersEditService.userForm">
    <div class="col-desk-6">

      <ng-template [ngIf]="usersEditService.geoLocation" [ngIfElse]="loadingMap">
        <div class="pr-10">
          <agm-map [zoom]="15" [latitude]="usersEditService.geoLocation.lat"
            [longitude]="usersEditService.geoLocation.long">
            <agm-marker [latitude]="usersEditService.geoLocation.lat" [longitude]="usersEditService.geoLocation.long">
            </agm-marker>
          </agm-map>
        </div>
      </ng-template>

      <ng-template #loadingMap>
        <div class="center">
          <img src="../../../../../assets/utils/loader.svg" alt="Loader">
        </div>
      </ng-template>
    </div>

    <div class="col-desk-6">
      <div class="mb-9">
        <span class="input-label mb-2">Name</span>
        <input class="w-12" type="text" placeholder="Name..." formControlName="name">
      </div>

      <div class="mb-9">
        <span class="input-label mb-2">Address</span>
        <input class="w-12" type="text" placeholder="Address..." formControlName="address">
      </div>

      <div class="mb-9">
        <span class="input-label mb-2">Description</span>
        <input class="w-12" type="text" placeholder="Description..." formControlName="description">
      </div>
    </div>
  </form>

  <div class="right">
    <button type="submit" (click)="usersEditService.showDialog = !usersEditService.showDialog"
      class="btn mr-12 uppercase" [class.disabled]="usersEditService.userForm.invalid"
      [disabled]="usersEditService.userForm.invalid" (click)="updateUser()">Save</button>
    <button type="button" (click)="usersEditService.showDialog = !usersEditService.showDialog"
      class="btn btn-secondary uppercase">Close</button>
  </div>
</div>
