@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;600&display=swap');

// Wordpress, Medium, Ghost font stack
$default-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

$sans-pro-font-family: 'Source Sans Pro', $default-font-family;

$page-background-color: #F8F8F8;

//H1
$h1-font-size: 48px;
$h1-font-weight: 300;
$h1-font-style: normal;
$h1-line-height: 1.25;

// H2
$h2-font-size: 21px;
$h2-font-weight: 600;
$h2-font-style: normal;
$h2-line-height: 1.25;
