.dashboard {
  background: #f8f8f8;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.grid {
  max-width: 1328px;
  margin: 0 236px;
  display: flex;
  flex-direction: column;
}

.top-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-top: 183px;
  justify-content: space-between;
  align-items: center;
}

.middle-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 64px;
  row-gap: 64px;
}

.bottom-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  margin-top: 64px;
}
