::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}


.users-list-body-infinite-scroll-container {
    flex-grow: 1;
    overflow-y: scroll;
    height: calc(100% - 47px);
    scrollbar-width: none;
    padding: 5% 10% 0% 10%;
}

.users-list-body-infinite-scroll-container-inner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.users-list-body-infinite-scroll-footer {
    height: 84px;
}

.users-list-body-infinite-scroll-footer-inner {
    display: flex;
    flex-direction: row;
    align-content: space-around;
    flex-grow: 1;
}