.user-card-container {
    padding: 25px 20px;
    margin: 20px 10px 20px 0;
    min-width: 280px;
    min-height: 336px;
    background-color: #ffffff;
    border-radius: 8px;
    position: relative;
}

.user-card-container:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.user-card-image {
    border-radius: 90px;
    margin: 0 auto;
    display: block;
}

.user-card-header {
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
}

.user-card-header p, h2 {
    margin: 15px 0;
}

.user-card-header h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    line-height: 26px;
}

.user-card-created-date {
    font-size: 16px;
    line-height: 32px;
    color: #c92020;
}

.user-card-description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    -webkit-box-orient: vertical;
    margin-top: 0;
}

.user-card-header-container {
    position: absolute;
    bottom: 25px;
    left: 20px;
    width: 90%;
}

.user-card-pencil-icon-container {
    display: flex;
    justify-content: flex-end;
}

.user-card-pencil-icon {
    cursor: pointer;
}
