.element {
  padding: 64px;
  background: #F8F8F8;

  h1 {
    margin: 0 0 64px;
  }

  @media (max-width: 800px) {
    h1 {
      margin: 0 0 34px !important;
    }
  }
  .content {
    display: flex;
    flex-direction: row;

    @media (max-width: 800px) {
      flex-direction: column;
      align-items: center;
      form {
        margin-left: initial !important;
        margin-top: 36px;
      }
    }
    form {
      width: 100%;
      margin-left: 60px;
    }
    .input {
      margin-bottom: 36px;
    }
  }

  .errorMessage {
    text-align: right;
    color: red;
    height: 20px;
  }

  .footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 64px;
    button {
      width: 280px;
      &:first-child {
        margin-right: 64px;
      }
    }
  }
}
