@value theme: "../theme.css";

@value baseBackground from theme;
@value shadowColor from theme;
@value borderRadius from theme;

.wrapper {
  width: 100%;
  display: flex;
  margin: 25px 0;
}

.button {
  min-width: 180px;
  height: 60px;
  background: baseBackground;
  border: 4px solid shadowColor;
  box-sizing: border-box;
  border-radius: borderRadius;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  margin: auto;
  text-transform: uppercase;
  cursor: pointer;
}

.button:hover {
  border: 4px solid rgba(0, 0, 0, 0.4);
}

.button:focus {
  outline: none;
}
