.button {
  background-color: transparent;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 24px;
  font-weight: 600;
  height: 90px;
  line-height: 30px;
  min-width: 280px;
  text-transform: uppercase;

  &:hover {
    border: 4px solid rgba(0, 0, 0, 0.4);
  }

  &:focus {
    border: 4px solid rgba(0, 0, 0, 0.5);
    outline: 0;
  }

  &:disabled {
    border: 4px solid rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.5);
    cursor: default;
  }
}

.button--primary {
  background-color: #fff;
}
