@import './sass/variables';

:global{
  body, * {
    margin: 0;
    box-sizing: border-box;
    font-family: $default-font-family;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1 {
    font-size: $h1-font-size;
    font-weight: $h1-font-weight;
    font-style: $h1-font-style;
    line-height: $h1-line-height;
    font-family: $sans-pro-font-family;
  }

  h2 {
    font-size: $h2-font-size;
    font-weight: $h2-font-weight;
    font-style: $h2-font-style;
    line-height: $h2-line-height;
    font-family: $sans-pro-font-family;
  }

  p {
    font-weight: 300;
  }

}

.App {
  background-color: $page-background-color;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
