# package directories
node_modules
jspm_packages

# Serverless directories
.serverless
.webpack
.dynamodb

#files
.graphqlconfig
.env
test/integration/EnvironmentVariable.js
deploy.sh
deploy.e2etest.sh
