.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 40px;
  row-gap: 40px;
  min-width: 70vw;
}

.container {
  min-height: 656px;
  min-width: 70vw;

  .loading {
    font-size: 20px;
  }
}
