%minContainer {
  min-height: 740px;
  min-width: 70vw;
}

.grid {
  @extend %minContainer;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 64px;
  row-gap: 64px;
}

.container {
  @extend %minContainer;

  .loading {
    font-size: 20px;
  }
}
