.loading-indicator {
    border: 5px solid #f3f3f3;
    border-top: 5px solid rgb(153, 153, 153);
    border-radius: 50%;
    animation: spin 2s linear infinite;
    min-width: 24px;
    min-height: 24px;
}

@keyframes spin {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

@-webkit-keyframes spin {
    0% {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(360deg);}
}